<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WebApiDapper" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Web-20170106095900;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>